apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    basicAuth: false
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: loki
          matcherRegex: "(?:level|lvl)=?(\\w+)"
          name: level
          url: ""
        - datasourceUid: loki
          matcherRegex: "(?:logger)=([\\w\\.]+)"
          name: logger
          url: ""
